
.top-rank {
  top: 0px;
  overflow: hidden;
  width: 85%;
  height: 520px;
  margin: 20px auto;
  margin-top: 50px;
  position: relative;
  background: #443f4c;
  padding: 15px;
  padding-bottom: 0;
}
ul{
  padding-left:0;
}
@font-face {
  font-family: Nunito;
  src: url('../fonts/Nunito-Regular.ttf');
}

@font-face {
  font-family: Dopestyle;
src: url('../fonts/Dopestyle.ttf');
}
.gclearfix:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: "";
}
.gclearfix {
  zoom: 1;
}
.top-rank .mod-hd:before,
.top-rank .mod-hd:after {
  content: "";
  display: table;
}

.top-rank .mod-hd:after {
  clear: both;
}

.top-rank .mod-hd {
  *zoom: 1;
  margin-bottom: 12px;
  width: 100%;
}

.top-rank .mod-bd {
  margin-top: 0;
}

.top-rank h3 {
  font-size: 1.5rem;
  float: left;
  color: #bbbccd;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 3px;
  text-align: center;
  font-family:Dopestyle;
}

.top-rank .tabs {
  float: left;
  font-size: 0.8rem;
}
.top-rank .tabs{
	width: 70%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	list-style: none;
}
.top-rank .tabs li {
display:inline-block;
  width: 15%;
  height: 23px;
  line-height: 23px;
  text-align: center;
  background-position: 0 -72px;
}

.top-rank .tabs a {
  color: #a5a5b5;
  z-index: 10;
}

.top-rank .tabs a:hover {
  color: #5db538;
  text-decoration: none;
}

.top-rank .tabs .active {
  background: #332f3a url(../images/ico.png) no-repeat 0 0;
}

.top-rank .tabs .active a {
  color: #5db538;
}

.top-rank .more {
  position: absolute;
  top: 17px;
  right: 17px;
  font-size: 1.1rem;
}

.top-rank .more a {
  color: #a5a5b5;
}

.top-rank .more a:hover {
  color: #5db538;
  text-decoration: none;
}

.top-rank .mod-bd .views {
  position: relative;
  width:100%;
  height: 420px;
  overflow: hidden;
  -webkit-perspective: 1500px;
  -moz-perspective: 1500px;
  perspective: 1500px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}

.top-rank .views .view-item {
  position: absolute;
  display:none;
  left: 0;
  top: 0;
  z-index: 1;
  background: #443f4c;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-animation: fadeout 0.3s ease-in forwards;
  -moz-animation: fadeout 0.3s ease-in forwards;
  animation: fadeout 0.3s ease-in forwards;
}

.top-rank .views .active {
display:block;
  -webkit-animation: fadein 0.5s ease forwards;
  -moz-animation: fadein 0.5s ease forwards;
  animation: fadein 0.5s ease forwards;
  z-index: 2;
}

.top-rank .views .first {
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
  z-index: 2;
  background: #443f4c;
}

@-webkit-keyframes fadeout {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  to {
    -webkit-transform: translate3d(0, 0, -300px);
    opacity: 0;
  }
}

@-moz-keyframes fadeout {
  from {
    -moz-transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  to {
    -moz-transform: translate3d(0, 0, -300px);
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  to {
    transform: translate3d(0, 0, -300px);
    opacity: 0;
  }
}

@-webkit-keyframes fadein {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@-moz-keyframes fadein {
  from {
    -moz-transform: translate3d(-100%, 0, 0);
  }

  to {
    -moz-transform: translate3d(0, 0, 0);
  }
}

@keyframes fadein {
  from {
    transform: translate3d(-100%, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@media (max-width: 810px){
  .tabs li {
    display: none!important;
  }
  ul{
    padding-left: 0px;
  }
	.top-rank .view-list li{
		width: 30%!important;
		height: 230px!important;
	}
	.top-rank .view-list {
		width: 550px!important;
		height: 650px!important;
	}
	.top-rank .view-list li img {
		height: 140px!important;
	}
	.top-rank .view-list{
		overflow-y:scroll!important;
		overflow-x:hidden;
	}
	.top-rank .view-list {
		overflow: hidden;
	}
	.top-rank .view-list::-webkit-scrollbar{display:none!important}
}

@media (max-width: 590px){
	.top-rank .view-list li{
		width: 40%!important;
		height: 230px!important;
  }
  ul{
    padding-left: 0px;
  }
	.top-rank .view-list {
		width: 420px!important;
		height: 650px!important;
	}
	.top-rank .view-list li img {
		height: 140px!important;
	}
	.top-rank .view-list{
		overflow-y:scroll!important;
		overflow-x:hidden;
	}
	.top-rank .view-list {
		overflow: hidden;
	}
	.top-rank .view-list::-webkit-scrollbar{display:none!important}
}

.top-rank .view-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
}

.top-rank .view-list li {
  position: relative;
  width: 16%;
  height: 230px;
  margin:  auto 1.5%;
  font-size: 12px;
  text-align: center;
  float: left;
  z-index: 1;
  overflow: hidden;
}

.top-rank .view-list li a {
  text-decoration: none;
  color: #888999;
  width: 100%;
}

.top-rank .view-list li a:hover {
  color: #5db538;
}

.view-list li img {
  width:100%;
  height: 150px;
  border-radius: 4px;
  box-shadow: 0 1px 3px #222;
}
.view-list li img
 .view-list li .mask {
  width: 92px;
  height: 86px;
  position: absolute;
  top: -86px;
  left: -92px;
  z-index: 3;
  background: url(http://p8.qhimg.com/t0129d4cce7a885cf2e.png) no-repeat 0 0;
  -webkit-transition: 0.1s left, 0.2s 0.1s top;
  -moz-transition: 0.1s left, 0.2s 0.1s top;
  -ms-transition: 0.1s left, 0.2s 0.1s top;
  -o-transition: 0.1s left, 0.2s 0.1s top;
  transition: 0.1s left, 0.2s 0.1s top;
  pointer-events: none;
}

.top-rank .view-list li:hover .mask {
  left: 0;
  top: 0;
}

 .view-list li .name {
  display: block;
  width: 86px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 7px 0 14px;
}

.bookmark-btn{
  display:none;
  position:absolute;
  left: 7px;
  top: 7px;
  z-index:30;
  text-align: center;
}
.bookmark-btn Link{
  height: 28px;
  min-width: 0px;
  line-height: 28px;
  padding:0px;
  border:0px;
  -webkit-border-radius: 3px;
}
.bookmark-btn span{
  background-position: 5px -36px;
  display: inline-block;
  padding: 0px 10px 0px 28px;
  background: url("https://api.edamam.com/images/set-icons-bookmark-btns.png") no-repeat;
  background-color:#7C0;
}
.image-change-page:hover  .bookmark-btn{
  display:block;
}

