.bg-header-healthy{
	position: relative;
	background-color: #edf5f7;
	width: 60%;
        height: 350px;
        margin: 10px auto;
}
.image-background{
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
        border: 2px solid white;
        border-radius: 20px;
        box-shadow: 5px 10px grey;
}
.image-background img{
        width: 100%;
        height: 100%;
}

@media (max-width: 650px){
	.image-background img{
		width: auto;
	}
	.group-healthy-food{
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		text-align: center;
		width: 100%;
		padding: 0 2%;
	}
	.group-healthy-food p{
		display: none;
	}
	.group-user-artikel {
		width: 100%;
		text-align: center;
		margin: 0 auto;
	}
}

.group-healthy-food{
	position: absolute;
	top: 30%;
	left: 5.5%;
	max-width: 400px;

}
.group-healthy-food h2{
	font-style: italic;
	font-weight: 600;
	font-size: 30px;
	text-shadow: 4px 3px white;
	text-transform: capitalize;
}
.group-healthy-food p{
	text-align: justify;
}

.group-healthy-food a:hover{

	box-shadow: 4px 3px 8px #adaaaa;
}
.group-healthy-food a{
	text-decoration: none;
	background-color: #efdb23;
	padding: 10px 15px;
	color: inherit;
	border-radius: 16px;
	display: inline-block;
	margin-top: 15px;
	transition: .5s;
	font-style: italic;
	font-family: Nunito;
	font-size: 15px;
	font-weight: 900;
}
