

@font-face {
        font-family: Nunito;
        src: url('../fonts/Nunito-Regular.ttf');
}

@font-face {
        font-family: Dopestyle;
	src: url('../fonts/Dopestyle.ttf');
}
.no-absolite{
	position: relative !important;
	display: inline-block !important;
	width: 100% !important;
}
.fixed {
	position: fixed !important;
	top: 0 !important;
	z-index: 3 !important;
	padding: 1% 2% !important;
	/*background-color: #ffe753;*/
	color: white !important;
	background-color: #689eb1;
	box-shadow: 2px 0 8px #9a9a9a;
}
.bg-sidebar-all {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(115, 109, 109, 0.62);
        z-index: 2;
        opacity: 0;
        display: none;
}

.bg-sidebar-all .open{
        opacity:1!important;
        display:block!important;
}
.navigation-healthy{
        position: absolute;
        overflow: hidden;
	top: 0;
	z-index: 1;
	transition: .5s;
}
.title-healthy{
	display: inline-block;
}
.menu-healthy{
        left: 5%;
        position: relative;
	display:inline-block;
}
.menu-healthy ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.menu-healthy ul li{
	display:inline-block;
	padding: 0 25px;
	color: yellow;
}

.menu-healthy ul li a{
	text-decoration: none;
	font-size: 16px;
        font-weight:600;
}
.navigation-healthy{
	width: 100%;
	padding: 2% 2%;
	text-align: center;
}

.title-healthy{
	float: left;
}

.title-healthy{
	float: left;
}
.title-healthy a,.title-healthy a{
	color: white;
	font-size: 23px;
	text-shadow: 2px 2px 8px #616161;
	text-decoration: none;
	font-family: Dopestyle;
}

.menu-healthy{
	display: inline-block;
}
.menu-healthy:nth-child(1){
	padding-right: 40px;
}
.menu-healthy ul li  a:hover{
        color: black;
}
.menu-healthy ul li a:after {
        display: block;
        right: 0;
        left: 0;
        bottom: -10px;
        position: relative;
        content:'';
        width: 0;
        height: 2px;
        margin: 0 auto;
        background-color: #2eca7f;
        -webkit-transition: all 0.15s ease-in-out;
        -moz-transition: all 0.15s ease-in-out;
        -o-transition: all 0.15s ease-in-out;
        -ms-transition: all 0.15s ease-in-out;
        transition: all 0.15s ease-in-out;
    }

.menu-healthy ul li  a:hover:after, .menu-healthy ul li.active  a:after{
        width: 35px;
}
.cart{
	padding-left: 30px;
}

.input-search input{
	border: none;
	border-radius: 7px;
	padding: 4px 3px;
	width: 0;
	opacity: 0;
	outline-style: none;
	border: 1px solid #d2e7ec;
	transition: .5s;
	color: #84ec22;
}

.input-search button{
	border: none;
	background-color: transparent;
	font-size: 15px;
	color: yellow;
}
.input-search:hover button{
	color: black;
}
.input-search:hover input, .input-search:active input{
	width: 160px;
	opacity: 1;
}

.navigation-sm{
	display: inline-block;
	float: right;
	background-color: #efdb23;
	color: #333333;
	padding: 0 5px;
}
.navigation-sm span{
	font-size:23px;
	cursor:pointer;
}
.sidenav {
	height: 100%;
        max-width: 250px;
	position: fixed;
	z-index: 3;
	top: 0;
	right: 0;
	background-color: #ffe753;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
        transform: translateX(100%);
        transition:  transform 0.5s ease-out;
}
.sidenav>a{
	color: black;
}

 .navopen{
        transform: translateX(0)!important;
}
.search-sm{
	text-align: center;
	margin: 7px 8px;
	border-bottom: 2px solid #000000;
}
.search-sm form button{
	border: none;
	background-color: transparent;
	font-size: 18px;
}
.search-sm form input{
	border: none;
	padding: 5px 10px;
	border-radius: 5px;
}
.search-sm a{
	margin-top: 23px;
	display: inline-block;
	width: 100%;
	text-align: left;
	padding: 9px 0;
	font-size: 20px;
	color: black;
	text-decoration: none;
}
.search-sm a:hover{
	color: black;
	text-decoration: none;
}
.navigation-mb-sm a{
	display: inline-block;
	width: 100%;
	text-align: left;
	padding: 9px 8px;
	font-size: 20px;
	color: black;
	text-decoration: none;
}
.navigation-mb-sm a:hover{
	color: black;
	text-decoration: none;
}
.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}
/* end sidenav */

@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}

@media  (min-width: 968px) {
        .hidden-sm {display: none!important;}
}

@media  (max-width: 968px) {
        .hidden-xs {display: none!important;}
}
