#saved {
  position: absolute;
  background-color: red;
  width: 200px;
  font-size: 30px;
  text-align: center;
  height: 80%;
}

#savedTitle {
  height: 50px;
  color: black;
  font-size: 30px;
  text-align: center;
}

.planner-section {
  top: 100px;
  position: relative;
  width: 100%;
  min-height: 1000px;
}

.planImage {
  background-image: url(../images/plan.jpg);
  background-size: cover;
  max-width: 90%;
  min-height:200px;
  padding: 2.875em 1.875em 2.875em;
  text-align: center;
  width: 100%;
  background-size: cover;
  margin: 0 auto;
}

.planner-content {
  display: flex;
  flex-direction: column;
  min-height: 700px;
  margin-top:10px;
  max-width:90%;
  overflow: hidden;
  position: relative;
  margin:0 auto;
}

.menu-title {
  margin-bottom: 0px;
  text-align:center;
}

.planner-list {
  text-align: center;
  margin-bottom: 250px;
}

.planner-list a {
  display: block;
  padding: 10px 15px;
}

.drop-down >  li {
  min-width: 90px;
  width: 34%;
  background-color:white;
}

.drop-down {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
}

.drop-down-menu {
  display: flex;
  flex-direction: column;
}

.menu-title {
  cursor: pointer;
}

.menu-title {
  display: block;
  padding: 10px 15px;
}

.activate {
  display: none;

  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 40px;
  margin: 0 0 0 -15px;
  opacity: 0;
}

/* Skin */

.planner-test a,
.drop-down-menu {
  background: #3d6d99;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #5796d0),
    color-stop(100%, #3d6d99)
  );
  background: -moz-linear-gradient(top, #5796d0 0%, #3d6d99 100%);
}

.planner-test a:hover,
.drop-down-menu:hover {
  background: #5a6470;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #495261),
    color-stop(100%, #38404b)
  );
  background: -moz-linear-gradient(top, #495261 0%, #38404b 100%);
}

.drop-down > li {
  background: #222;
}

.drop-down > li:hover {
  background: #111;
}

.planner-test {
  position: absolute;
  width: calc(100% - 200px);
  left: 200px;
  background: #3d6d99;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #5796d0),
    color-stop(100%, #3d6d99)
  );
  background: -moz-linear-gradient(top, #5796d0 0%, #3d6d99 100%);
}

:checked ~ .menu-title {
  background: #495261;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #495261),
    color-stop(100%, #38404b)
  );
  background: -moz-linear-gradient(top, #495261 0%, #38404b 100%);
}

.drop-down {
  max-height: 0;
  overflow: hidden;
  display:flex;
  flex-direction: row;
  width: 100%;
}

.drop-down > a {
  background: #222;
}

.activate:checked ~ .drop-down {
  max-height: 600px;
}

.drop-down,
.planner-list a,
.drop-down-menu {
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.recipe-planning-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:transparent;
}
.recipe-planning-item .box{
  background-color:white;
}
.sub-planning-label{
  font-size: 1.2em;
  color: white;
}
.recipe-planning-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

.recipe-planning-list li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}
.recipe-planning-item{
  position: relative;
}
.recipe-planning-item:hover  .bookmark-btn{
  display: block;
}