body,div,h2,h3,h4,h6,ul,li,p{margin:0;padding:0;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
ul{list-style-type:none;}
form {
        position: relative;
}
#my-review > div{
        position: relative;
        color: #999;
        margin-top: 10px;
}

.header-text{
        display:inline;
}
.header-text, .review-text{
        color:#777;
        border: 1px solid #d0d0d0;
        border-radius: 6px;
        background:white;
        padding: 3px 5px;
        font: 15px/1.5 Arial;
}
.review-text{
        width: 400px;
        resize: none;
        height: 125px;
        font-size:18px;
        overflow: auto;
}
.left-word-p{
        position: relative;
        color: #999;
        margin-top: 15px;
        overflow:hidden;
        zoom:1;
}
.left-word-p{
       right:0;
        line-height: 40px;
}
.left-word-p p{
        right: 0;
        line-height:40px;
}
.maxNum{
        font: 26px/29px Georgia, Tahoma, Arial;
        padding: 0 5px;
}
.send-review-button{
        border:0;
        width:72px;
        height: 30px;
        line-height: 30px;
        cursor: pointer;
        margin-left:10px;
        border: 0px 0px 1px 1px rgba(12,120,200,6);
        box-shadow: 0  1px rgba(2,165,209,29);
        background-color: #7db343;
        border-radius: 10%;
        position: relative;
}
.send-review-button:hover{
        box-shadow: 0 3px ;
        background-color: #2f904d;
        box-shadow: 3px 5px 8px rgba(187,194,220,6);
        text-decoration: none;
}
.comment-show{
        position:relative;
        min-width:300px;
        top:20px;
        float: left;
        width:100%;
        max-height:1000px;
        overflow-y:scroll;
        overflow-x:hidden;
}
.comment-show > li{
        width: 100%;
        margin:20px 20px;
        padding: 10px 0;
        zoom: 1;
}
.comment-except-picture{
        width: 85%;
        margin-left: 3%;
        float:left !important;
        border-top: 2px solid #EDEDED;
        padding-bottom:10px;
}
.comment-show-item{
        width: 100%;
        margin-top:7px;
        margin-bottom:10px;
        word-wrap:break-word;
        overflow:hidden;
        zoom:1;
}
.comment-show-item .comment-name{
        font-size: 12px;
        color: #339b53;
}
.comment-headline{
        padding-left: 10px;
        padding-right:10px;
        font-size: 12px;
        color: #8b8b8b;
        width: 100%;
}
.comment-main-area{
        font-size: 16px;
        color: #339b53;
        margin-top:20px;
        margin-bottom:20px;
        font-weight: 600;
        display:block;
        width:80%;
        position: relative;
        text-align:center;
}
.comment-date{
        width: 100%;
        float:left;
}
.comment-date-left{
        padding-top:7px;
        font-size: 12px;
        color: #8b8b8b;
        display: block;
}